@import "../../../styles//mediaScreenTemplate.scss";

.container {
  display: flex;
  flex-direction: row;
}

.containerReverse {
  flex-direction: row-reverse;
}

.imgContainer {
  overflow: hidden;
  flex: 1;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@include --media-xs {
  .container {
    flex-direction: column;
  }

  .contentContainer {
    margin: 2rem 2rem 0px 2rem;
    padding: 0px;
  }
}

@include --media-sm {
  .ContainerType1InnerLeft {
    padding: 1rem;
    padding-right: 15%;
  }

  .ContainerType1InnerRight {
    padding: 1rem;
    padding-left: 15%;
  }
}
