.container {
  flex-direction: column;
  background-color: #eee;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgWidth {
  width: 90vw;
  height: 90vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contentContainer {
    margin: 0px 5vw;
    margin-top: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* background-color: red; */
  }

  .imgWidth {
    width: 40vw;
    height: 40vw;
  }

  .contentContainer {
    flex: 1;
    margin-right: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
