@import "../../../styles/index.scss";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.ImageSliderContainer {
  @include media-breakpoint-down(xs) {
    flex-direction: column-reverse;
  }

  .thumbnailsCol {
    @include media-breakpoint-only(sm) {
      display: none;
    }
  }

  .thumbnailContainer {
    height: 100%;
    overflow: hidden;
  }
}

.thumbnailArrow {
  height: 30px;
  width: 30px;
  position: absolute;
  align-self: center;
}
.thumbnailLeft {
  @include media-breakpoint-down(sm) {
    background-color: red;
    left: 0px;
  }
}

.thumbnailRight {
  @include media-breakpoint-down(sm) {
    background-color: red;
    right: 0px;
  }
}
.thumbnailUp {
  @include media-breakpoint-up(md) {
    top: 0px;
    background-color: purple;
  }
}
.thumbnailDown {
  @include media-breakpoint-up(md) {
    bottom: 0px;
    background-color: purple;
  }
}
