@import "~bootstrap/scss/bootstrap";
@import "./customBootstrap.scss";
@import "./typography.scss";

html {
  /* scroll-behavior: smooth; */
}
body {
  margin: 0;
  padding: 0;
  color: #2d2f30;
  font-size: 16px;
  font-family: Inter, sans-serif, Ubuntu;
  //font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  margin: 0px 0px 0px 0px;
  font-weight: 600;
  font-family: inherit;
}

p {
  color: inherit;
  margin: 0px 0px 0px 0px;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  font-size: unset;
  text-align: unset;
  background-color: #ffffff00;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}
button:focus {
  outline: none;
}

input {
  background-color: #f4f6f6;
  border-width: 0px;
  border-radius: 0px;
  border-bottom-width: 1px;
  min-height: 40px;
  padding: 0px 5px;
  margin: 0px;
  font-size: large;
  height: 50px;
  border-color: #cccccc;
}
input:focus {
  outline: none;
}

div {
  position: relative;
}

.mdxhint {
  color: #333;
  font-size: 15px;
  font-family: Nunito Sans;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
