$breakpoints: (
  xs: (
    breakpoint: 0px,
    suffix: --xs,
  ),
  sm: (
    breakpoint: 576px,
    suffix: --sm,
  ),
  md: (
    breakpoint: 768px,
    suffix: --md,
  ),
  lg: (
    breakpoint: 992px,
    suffix: --lg,
  ),
  xl: (
    breakpoint: 1200px,
    suffix: --xl,
  ),
  xxl: (
    breakpoint: 1400px,
    suffix: --xxl,
  ),
);

@mixin --media-xs {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin --media-sm {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin --media-md {
  @media screen and(min-width: 768px) {
    @content;
  }
}

@mixin --media-lg {
  @media screen and(min-width: 992px) {
    @content;
  }
}

@mixin --media-xl {
  @media screen and(min-width: 1200px) {
    @content;
  }
}

@mixin --media-xxl {
  @media screen and(min-width: 1400px) {
    @content;
  }
}
