@import "../../components/styles/index.scss";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.relativeBlogContainer {
  box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.5);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  overflow: hidden;
  width: 250px;

  @include media-breakpoint-up(sm) {
    width: 350px;
  }
}

.relativeBlogImgContainer {
}
