.container {
  display: flex;
  flex-direction: column;
}

.input {
  line-height: 150%;
  color: #777;
  border-width: 0px;
  border-bottom-width: 1px;
  margin-top: 50px;
  font-size: 20px;
  max-width: 400px;
  outline: none;
}

.button {
  margin-top: 50px;
  width: 300px;
  color: #fff;
  background-color: #55f;
  font-size: 20px;
  font-weight: bold;
}
