.container {
  display: flex;
  flex-direction: column;
}

.note {
  margin-top: 20px;
  color: #777;
  max-width: 500px;
}

.input {
  line-height: 150%;
  color: #777;
  border-width: 0px;
  border-bottom-width: 1px;
  margin-top: 50px;
  font-size: 25px;
  max-width: 400px;
  outline: none;
}
.input:focus {
  outline: none;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 600px) {
    justify-content: start;
  }
}

.button {
  margin-top: 50px;
  max-width: 300px;
  color: #fff;
  background-color: #55f;
  font-size: 20px;
  font-weight: bold;
}

@keyframes successContainerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.successContainer {
  opacity: 0;
  animation-name: successContainerAnimation;
  animation-duration: 1s;
}
