@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid";

.mainContainer {
  height: 100%;
  //backgroundColor: "red";
  height: "100%";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10%;

  @include media-breakpoint-down(xs) {
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
