@import "../../../styles/mediaScreenTemplate.scss";

.container {
  margin: 0px 5vw;
}

@include --media-sm {
  .container {
    margin: 0px 5vw;
  }
}

@include --media-lg {
  .container {
    margin: 0px 10vw;
  }
}
